/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
input[type='email'],input[type='password']{
  height: 25px;
  width: 100%;
  margin-bottom: 10px;
  font-size:14px;
  box-sizing: border-box;
  padding: 4px 5px;
  background: #fff;
  border: 1px solid #d0d0d0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
input[type='text'],input[type='number']{
  height: 25px;
  width: 100%;
  font-size:14px;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 4px 5px;
  background: #fff;
  border: 1px solid #d0d0d0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn{
  height: 30px;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 4px 5px;
  background:#286090;
  border: 1px solid #d0d0d0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color:white;
  background-color: 250ms;
  font-size:14px;
}
button:hover{
  cursor:pointer;
  background-color: white;
  color:rgb(70,153,179);
}
.form-field {
  display: flex;
  margin-bottom:-17px
}

.form-group {
  width: 80%;
}
label {
  height:15px;
  font-size:13px;
  width:100%
}
#Fname{
  width:90%;
}
input.error{
  border-color:red
}
.input-feedback{
  color:rgb(235,54,54);
  margin-top:-5px;
  font-size:13px;
  margin-bottom: 5px;
}
.input-feedback1{
  color:rgb(235,54,54);
  margin-top:-13px;
  font-size:13px;
  margin-bottom: 0px;
}
.input-feedback2{
  color:rgb(235,54,54);
  margin-left:65px;
  margin-top:-21px;
  margin-bottom:0px;
  font-size:12px;
}
.input-feedback4{
  color:rgb(235,54,54);
  margin-left:225px;
  margin-top:-17px;
  margin-bottom:0px;
  font-size:10px;
}
.radioButton{
  display:flex;
}